# Teen birth rates

TL;DR, they continued to go down.

* Previous story: http://trendct.org/2015/08/11/teenage-pregnancy-rates-are-plummeting-in-connecticut/
* Previous story: http://trendct.org/2015/08/12/hispanic-teen-birthrate-is-7-times-larger-than-that-of-white-teens/


National data:
* http://www.cdc.gov/nchs/data/databriefs/db264_table.pdf#3
* http://www.cdc.gov/nchs/data/databriefs/db264.pdf
* http://www.healthindicators.gov/Indicators/Births-females-15-19-years-per-1000_22/Profile/Download

Goals

1. Replicate previous article's figures and extend them to 2014 data
2. Determine 2014 birth rate by urban/rural and race/ethnicity
3. Put CT in national context

In [1]:
import pandas as pd

In [2]:
inventory_meta = pd.read_csv("data/22 - Births  females 15-19 years (per 1,000) - Connecticut - Metadata.CSV").transpose()
print inventory_meta.to_csv(sep="\n")

0
Indicator Description ID
22
Data Source
Bridged-Race Population Estimates for Census 2000 and 2010; National Vital Statistics System-Natality
Topics
Demographics - Age Group - Adolescents; Maternal and Infant Health - Births - Natality; Maternal and Infant Health - Pregnancy - Teen Birth Rates
Initiatives
County Health Rankings; Community Health Status Indicators
Data Type
FLOAT
Numerator Description
<p>Number of births to females age 15-19</p>
Denominator Description
<p>Females age 15-19 years</p>
Short Description
Births: females 15-19 years
Full Description
Births to females 15-19 years of age per 1,000
Caveats and Limitations
<p>The primary limitation of this measure is that it does not capture births among teens younger than 15. Though the incidence of teen births in this cohort is particularly low, births at such a young age are more likely to result in adverse health and socioeconomic outcomes.</p><p>Gestational age changed beginning&nbsp;in 2014, OE was used in place LMP. {link:60806}</p>
Trend Issues

Value Label
per 1,000
Methodology Notes
"Rates based on fewer than 20 births are considered unreliable and are not shown.

FOR SINGLE DATA YEARS: Birth rates are calculated based on the resident population of the data year involved.  For census years, April 1 census counts are used (e.g. 2010).  For postcensal years, July 1 estimates from the postcensal Vintage that matches the data year are used (e.g. July 1, 2011 resident population estimates from Vintage 2011 are used as the denominator for  2011rates).  For intercensal years, intercensal population estimates are used in rate calculations (e.g. 1991-1999, 2001-2009).  Race-specific population estimates for 1991 and later use bridged-race categories.

	FOR MULTIPLE DATA YEARS: Birth rates are calculated based on the sum of the resident populations for each of the data years involved (e.g. the denominator of a rate for 2008-2010 combined is the sum of the population estimates for 2008, 2009, and 2010).  For census years, April 1 census counts are used (e.g. 2010).  For postcensal years, July 1 estimates from the postcensal Vintage that matches the data year are used (e.g. July 1, 2011 resident population estimates from Vintage 2011).  For intercensal years, intercensal population estimates are used in rate calculations (e.g. 1991-1999, 2000-2009).  Race-specific population estimates for 1991 and later use bridged-race categories."
Initiative-Specific Topic Area

More Information
"|
http://www.cdc.gov/TeenPregnancy/AboutTeenPreg.htm"
References

Interventions
"|
Prevention of HIV/AIDS, other STIs and Pregnancy: Group-based Comprehensive Risk Reduction Interventions for Adolescents (http://www.thecommunityguide.org/hiv/riskreduction.html) - Comprehensive risk reduction (CRR) promotes behaviors that prevent or reduce the risk of pregnancy, HIV, and other sexually transmitted infections (STIs).
|
Youth Development Behavioral Interventions Coordinated with Community Service to Reduce Sexual Risk Behaviors in Adolescents (http://www.thecommunityguide.org/hiv/youthdev-community.html) - Youth development behavioral interventions employ a holistic approach to adolescent health and wellness, and may or may not include components that are focused directly on pregnancy and STI prevention."
Footnotes

HP2020 ID

HP2020 Target

HP2020 Target-setting Method

HP2020 Baseline

HP2020 Baseline Year

In [3]:
inventory = pd.read_csv("data/22 - Births  females 15-19 years (per 1,000) - Connecticut.CSV")
inventory

,Indicator ID,Dimension List,Timeframe,Numeric Value,Missing Value Flag,Confidence Interval Low,Confidence Interval High,Standard Error,LocaleID,Locale,...,Characteristic Of School Or Student,Other,Geography,Modifier1,Modifier2,Modifier3,Modifier4,Modifier5,Numerator,Denominator
0,416484936,Total,2014,11.5,NaN,10.9,12.1,0.3,9,Connecticut,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1420.0,123357.0
1,416484937,Aged 15-17 years (Of mother),2014,5.5,NaN,5.0,6.0,0.3,9,Connecticut,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,391.0,71118.0
2,416484938,Aged 18-19 years (Of mother),2014,19.7,NaN,18.5,20.9,0.6,9,Connecticut,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,1029.0,52239.0
3,416484945,Aged 15-17 years; Hispanic or Latino (Of mother),2014,17.1,NaN,14.9,19.3,1.1,9,Connecticut,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,234.0,13659.0
4,416484939,Aged 18-19 years; Hispanic or Latino (Of mother),2014,52.5,NaN,47.9,57.2,2.4,9,Connecticut,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,487.0,9273.0
5,416484947,Aged 15-17 years; Non-Hispanic White (Of mother),2014,DSU,DSU,NaN,NaN,NaN,9,Connecticut,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,45238.0
6,416484944,Aged 18-19 years; Non-Hispanic White (Of mother),2014,DSU,DSU,NaN,NaN,NaN,9,Connecticut,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,34169.0
7,416484943,Aged 15-17 years; Non-Hispanic Black (Of mother),2014,DSU,DSU,NaN,NaN,NaN,9,Connecticut,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,8702.0
8,416484946,Aged 18-19 years; Non-Hispanic Black (Of mother),2014,DSU,DSU,NaN,NaN,NaN,9,Connecticut,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,6212.0
9,416484940,Hispanic or Latino (Of mother),2014,31.4,NaN,29.1,33.7,1.2,9,Connecticut,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,721.0,22932.0
10,416484941,Non-Hispanic White (Of mother),2014,DSU,DSU,NaN,NaN,NaN,9,Connecticut,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,79407.0
11,416484942,Non-Hispanic Black (Of mother),2014,DSU,DSU,NaN,NaN,NaN,9,Connecticut,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,14914.0
12,416487306,Total,2014,9.3,NaN,8.3,10.4,0.5,409,Connecticut - Fairfield,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,307.0,32927.0
13,416487307,Aged 15-17 years (Of mother),2014,4.4,NaN,3.5,5.4,0.5,409,Connecticut - Fairfield,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,87.0,19961.0
14,416487308,Aged 18-19 years (Of mother),2014,17.0,NaN,14.7,19.2,1.1,409,Connecticut - Fairfield,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,220.0,12966.0
15,416487309,Hispanic or Latino (Of mother),2014,27.7,NaN,23.7,31.6,2.0,409,Connecticut - Fairfield,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,186.0,6725.0
16,416487310,Non-Hispanic White (Of mother),2014,DSU,DSU,NaN,NaN,NaN,409,Connecticut - Fairfield,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,20589.0
17,416487311,Non-Hispanic Black (Of mother),2014,DSU,DSU,NaN,NaN,NaN,409,Connecticut - Fairfield,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,4098.0
18,416487312,Total,2014,14.8,NaN,13.4,16.2,0.7,410,Connecticut - Hartford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,435.0,29413.0
19,416487313,Aged 15-17 years (Of mother),2014,6.8,NaN,5.6,8.0,0.6,410,Connecticut - Hartford,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,120.0,17741.0
20,416487314,Aged 18-19 years (Of mother),2014,27.0,NaN,24.0,30.0,1.5,410,Connecticut - Hartford,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,315.0,11672.0
21,416487315,Hispanic or Latino (Of mother),2014,38.6,NaN,33.8,43.3,2.4,410,Connecticut - Hartford,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,253.0,6560.0
22,416487316,Non-Hispanic White (Of mother),2014,DSU,DSU,NaN,NaN,NaN,410,Connecticut - Hartford,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,16767.0
23,416487317,Non-Hispanic Black (Of mother),2014,DSU,DSU,NaN,NaN,NaN,410,Connecticut - Hartford,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,4557.0
24,416487318,Total,2014,7.9,NaN,5.7,10.6,1.2,411,Connecticut - Litchfield,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,5563.0
25,416487319,Aged 15-17 years (Of mother),2014,DSU,DSU,NaN,NaN,NaN,411,Connecticut - Litchfield,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,3608.0
26,416487320,Aged 18-19 years (Of mother),2014,18.4,NaN,12.9,25.5,3.1,411,Connecticut - Litchfield,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,36.0,1955.0
27,416487321,Hispanic or Latino (Of mother),2014,DSU,DSU,NaN,NaN,NaN,411,Connecticut - Litchfield,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,461.0
28,416487322,Non-Hispanic White (Of mother),2014,DSU,DSU,NaN,NaN,NaN,411,Connecticut - Litchfield,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,4817.0
29,416487323,Non-Hispanic Black (Of mother),2014,DSU,DSU,NaN,NaN,NaN,411,Connecticut - Litchfield,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,123.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1650,159068357,Total,2002-2008,11.8,NaN,10.7,13.0,0.6,412,Connecticut - Middlesex,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,414.0,35037.0
1651,159068358,Aged 15-17 years (Of mother),2002-2008,5.1,NaN,4.2,6.1,0.5,412,Connecticut - Middlesex,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,112.0,21843.0
1652,159068359,Aged 18-19 years (Of mother),2002-2008,22.9,NaN,20.3,25.5,1.3,412,Connecticut - Middlesex,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,302.0,13194.0
1653,159068360,Hispanic or Latino (Of mother),2002-2008,29.1,NaN,22.2,37.4,3.8,412,Connecticut - Middlesex,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,60.0,2063.0
1654,159068361,"White, non-Hispanic (Of mother)",2002-2008,9.4,NaN,8.3,10.5,0.6,412,Connecticut - Middlesex,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,275.0,29236.0
1655,159068362,"Black or African American, non-Hispanic (Of mo...",2002-2008,28.9,NaN,22.7,36.3,3.4,412,Connecticut - Middlesex,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,74.0,2557.0
1656,159068363,Total,2002-2008,27.9,NaN,27.2,28.6,0.4,413,Connecticut - New Haven,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5839.0,209189.0
1657,159068364,Aged 15-17 years (Of mother),2002-2008,15.8,NaN,15.2,16.5,0.4,413,Connecticut - New Haven,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,1976.0,124673.0
1658,159068365,Aged 18-19 years (Of mother),2002-2008,45.7,NaN,44.3,47.1,0.7,413,Connecticut - New Haven,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,3863.0,84516.0
1659,159068366,Hispanic or Latino (Of mother),2002-2008,75.0,NaN,72.1,77.9,1.5,413,Connecticut - New Haven,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,2580.0,34397.0
1660,159068367,"White, non-Hispanic (Of mother)",2002-2008,11.7,NaN,11.1,12.3,0.3,413,Connecticut - New Haven,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,1577.0,134869.0
1661,159068368,"Black or African American, non-Hispanic (Of mo...",2002-2008,49.9,NaN,47.5,52.3,1.2,413,Connecticut - New Haven,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,1634.0,32747.0
1662,159068369,Total,2002-2008,25.8,NaN,24.6,27.1,0.6,414,Connecticut - New London,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1602.0,62026.0
1663,159068370,Aged 15-17 years (Of mother),2002-2008,10.5,NaN,9.5,11.5,0.5,414,Connecticut - New London,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,406.0,38572.0
1664,159068371,Aged 18-19 years (Of mother),2002-2008,51.0,NaN,48.1,53.9,1.5,414,Connecticut - New London,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,1196.0,23454.0
1665,159068372,Hispanic or Latino (Of mother),2002-2008,56.6,NaN,50.5,62.7,3.1,414,Connecticut - New London,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,333.0,5882.0
1666,159068373,"White, non-Hispanic (Of mother)",2002-2008,20.4,NaN,19.1,21.6,0.6,414,Connecticut - New London,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,1000.0,49085.0
1667,159068374,"Black or African American, non-Hispanic (Of mo...",2002-2008,51.4,NaN,44.6,58.1,3.4,414,Connecticut - New London,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,223.0,4342.0
1668,159068375,Total,2002-2008,7.4,NaN,6.6,8.1,0.4,415,Connecticut - Tolland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,359.0,48672.0
1669,159068376,Aged 15-17 years (Of mother),2002-2008,4.4,NaN,3.5,5.4,0.5,415,Connecticut - Tolland,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,88.0,20067.0
1670,159068377,Aged 18-19 years (Of mother),2002-2008,9.5,NaN,8.3,10.6,0.6,415,Connecticut - Tolland,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,271.0,28605.0
1671,159068378,Hispanic or Latino (Of mother),2002-2008,17.7,NaN,12.7,24.2,2.8,415,Connecticut - Tolland,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,40.0,2255.0
1672,159068379,"White, non-Hispanic (Of mother)",2002-2008,6.6,NaN,5.9,7.4,0.4,415,Connecticut - Tolland,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,283.0,42557.0
1673,159068380,"Black or African American, non-Hispanic (Of mo...",2002-2008,14.8,NaN,9.7,21.7,2.9,415,Connecticut - Tolland,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,26.0,1757.0
1674,159068381,Total,2002-2008,27.7,NaN,25.8,29.6,1.0,416,Connecticut - Windham,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,849.0,30652.0
1675,159068382,Aged 15-17 years (Of mother),2002-2008,14.6,NaN,12.8,16.4,0.9,416,Connecticut - Windham,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,251.0,17198.0
1676,159068383,Aged 18-19 years (Of mother),2002-2008,44.4,NaN,40.9,48.0,1.8,416,Connecticut - Windham,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,598.0,13454.0
1677,159068384,Hispanic or Latino (Of mother),2002-2008,82.0,NaN,72.0,92.0,5.1,416,Connecticut - Windham,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,259.0,3158.0
1678,159068385,"White, non-Hispanic (Of mother)",2002-2008,21.6,NaN,19.8,23.4,0.9,416,Connecticut - Windham,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,563.0,26056.0
1679,159068386,"Black or African American, non-Hispanic (Of mo...",2002-2008,DSU,DSU,NaN,NaN,NaN,416,Connecticut - Windham,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,19.0,899.0

In [4]:
inventory["Dimension List"].value_counts()

Total                                                                    252
Hispanic or Latino (Of mother)                                           252
Aged 15-17 years (Of mother)                                             252
Aged 18-19 years (Of mother)                                             252
Black or African American, non-Hispanic (Of mother)                      216
White, non-Hispanic (Of mother)                                          216
Non-Hispanic White (Of mother)                                            36
Non-Hispanic Black (Of mother)                                            36
Aged 18-19 years; Hispanic or Latino (Of mother)                          28
Aged 15-17 years; Hispanic or Latino (Of mother)                          28
Aged 18-19 years; Black or African American, non-Hispanic (Of mother)     24
Aged 18-19 years; White, non-Hispanic (Of mother)                         24
Aged 15-17 years; White, non-Hispanic (Of mother)                         24
Aged 15-17 years; Black or African American, non-Hispanic (Of mother)     24
Aged 15-17 years; Non-Hispanic White (Of mother)                           4
Aged 18-19 years; Non-Hispanic Black (Of mother)                           4
Aged 15-17 years; Non-Hispanic Black (Of mother)                           4
Aged 18-19 years; Non-Hispanic White (Of mother)                           4
Name: Dimension List, dtype: int64

In [5]:
inventory[(inventory["Dimension List"] == "Non-Hispanic White (Of mother)")
         & (inventory["Timeframe"] == "2014")]

,Indicator ID,Dimension List,Timeframe,Numeric Value,Missing Value Flag,Confidence Interval Low,Confidence Interval High,Standard Error,LocaleID,Locale,...,Characteristic Of School Or Student,Other,Geography,Modifier1,Modifier2,Modifier3,Modifier4,Modifier5,Numerator,Denominator
10,416484941,Non-Hispanic White (Of mother),2014,DSU,DSU,NaN,NaN,NaN,9,Connecticut,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,79407.0
16,416487310,Non-Hispanic White (Of mother),2014,DSU,DSU,NaN,NaN,NaN,409,Connecticut - Fairfield,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,20589.0
22,416487316,Non-Hispanic White (Of mother),2014,DSU,DSU,NaN,NaN,NaN,410,Connecticut - Hartford,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,16767.0
28,416487322,Non-Hispanic White (Of mother),2014,DSU,DSU,NaN,NaN,NaN,411,Connecticut - Litchfield,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,4817.0
34,416487328,Non-Hispanic White (Of mother),2014,DSU,DSU,NaN,NaN,NaN,412,Connecticut - Middlesex,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,4218.0
40,416487334,Non-Hispanic White (Of mother),2014,DSU,DSU,NaN,NaN,NaN,413,Connecticut - New Haven,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,17516.0
46,416487340,Non-Hispanic White (Of mother),2014,DSU,DSU,NaN,NaN,NaN,414,Connecticut - New London,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,6132.0
52,416487346,Non-Hispanic White (Of mother),2014,DSU,DSU,NaN,NaN,NaN,415,Connecticut - Tolland,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,6224.0
58,416487352,Non-Hispanic White (Of mother),2014,DSU,DSU,NaN,NaN,NaN,416,Connecticut - Windham,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,3144.0

In [6]:
inventory["Locale"].value_counts()

Connecticut                 336
Connecticut - Middlesex     168
Connecticut - New Haven     168
Connecticut - Fairfield     168
Connecticut - Tolland       168
Connecticut - New London    168
Connecticut - Litchfield    168
Connecticut - Hartford      168
Connecticut - Windham       168
Name: Locale, dtype: int64

# Statewide rates by year

In [7]:
inventory[(inventory["Locale"] == "Connecticut")
          & (inventory["Dimension List"] == "Total")
         & ~(inventory["Timeframe"].str.contains("-"))]

,Indicator ID,Dimension List,Timeframe,Numeric Value,Missing Value Flag,Confidence Interval Low,Confidence Interval High,Standard Error,LocaleID,Locale,...,Characteristic Of School Or Student,Other,Geography,Modifier1,Modifier2,Modifier3,Modifier4,Modifier5,Numerator,Denominator
0,416484936,Total,2014,11.5,NaN,10.9,12.1,0.3,9,Connecticut,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1420.0,123357.0
240,364980867,Total,2013,12.9,NaN,12.3,13.6,0.3,9,Connecticut,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1606.0,124102.0
480,225126302,Total,2012,15.1,NaN,14.4,15.8,0.3,9,Connecticut,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1889.0,124986.0
720,159046499,Total,2011,16.4,NaN,15.7,17.1,0.4,9,Connecticut,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020.0,123249.0
960,158968619,Total,2010,18.7,NaN,17.9,19.4,0.4,9,Connecticut,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2274.0,121885.0
1200,159202259,Total,2009,21.2,NaN,20.4,22.0,0.4,9,Connecticut,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2605.0,123044.0
1440,159182789,Total,2008,22.6,NaN,21.8,23.4,0.4,9,Connecticut,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2789.0,123448.0

In [8]:
# List the counties/locales
inventory["Locale"].value_counts()

Connecticut                 336
Connecticut - Middlesex     168
Connecticut - New Haven     168
Connecticut - Fairfield     168
Connecticut - Tolland       168
Connecticut - New London    168
Connecticut - Litchfield    168
Connecticut - Hartford      168
Connecticut - Windham       168
Name: Locale, dtype: int64

In [9]:
inventory[(inventory["Dimension List"] == "Total")
         & ~(inventory["Timeframe"].str.contains("-"))]

,Indicator ID,Dimension List,Timeframe,Numeric Value,Missing Value Flag,Confidence Interval Low,Confidence Interval High,Standard Error,LocaleID,Locale,...,Characteristic Of School Or Student,Other,Geography,Modifier1,Modifier2,Modifier3,Modifier4,Modifier5,Numerator,Denominator
0,416484936,Total,2014,11.5,NaN,10.9,12.1,0.3,9,Connecticut,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1420.0,123357.0
12,416487306,Total,2014,9.3,NaN,8.3,10.4,0.5,409,Connecticut - Fairfield,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,307.0,32927.0
18,416487312,Total,2014,14.8,NaN,13.4,16.2,0.7,410,Connecticut - Hartford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,435.0,29413.0
24,416487318,Total,2014,7.9,NaN,5.7,10.6,1.2,411,Connecticut - Litchfield,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,5563.0
30,416487324,Total,2014,6.6,NaN,4.6,9.2,1.1,412,Connecticut - Middlesex,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,5285.0
36,416487330,Total,2014,14.5,NaN,13.1,15.8,0.7,413,Connecticut - New Haven,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,435.0,30100.0
42,416487336,Total,2014,10.3,NaN,8.2,12.6,1.1,414,Connecticut - New London,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0,8573.0
48,416487342,Total,2014,3.7,NaN,2.5,5.4,0.7,415,Connecticut - Tolland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,7501.0
54,416487348,Total,2014,12.0,NaN,8.9,15.9,1.7,416,Connecticut - Windham,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,3995.0
240,364980867,Total,2013,12.9,NaN,12.3,13.6,0.3,9,Connecticut,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1606.0,124102.0
252,364983243,Total,2013,11.1,NaN,9.9,12.2,0.6,409,Connecticut - Fairfield,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,363.0,32832.0
258,364983249,Total,2013,14.8,NaN,13.4,16.2,0.7,410,Connecticut - Hartford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,440.0,29785.0
264,364983255,Total,2013,7.1,NaN,5.1,9.7,1.1,411,Connecticut - Litchfield,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,5758.0
270,364983261,Total,2013,6.8,NaN,4.8,9.4,1.1,412,Connecticut - Middlesex,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,5291.0
276,364983267,Total,2013,17.4,NaN,15.9,18.9,0.8,413,Connecticut - New Haven,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,525.0,30223.0
282,364983273,Total,2013,13.2,NaN,10.8,15.7,1.2,414,Connecticut - New London,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116.0,8758.0
288,364983279,Total,2013,3.6,NaN,2.4,5.3,0.7,415,Connecticut - Tolland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,7416.0
294,364983285,Total,2013,14.4,NaN,10.9,18.6,1.9,416,Connecticut - Windham,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.0,4039.0
480,225126302,Total,2012,15.1,NaN,14.4,15.8,0.3,9,Connecticut,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1889.0,124986.0
492,225128678,Total,2012,11.8,NaN,10.7,13.0,0.6,409,Connecticut - Fairfield,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,387.0,32665.0
498,225128684,Total,2012,20.0,NaN,18.4,21.5,0.8,410,Connecticut - Hartford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600.0,30071.0
504,225128690,Total,2012,9.5,NaN,7.2,12.3,1.3,411,Connecticut - Litchfield,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,5905.0
510,225128696,Total,2012,6.9,NaN,4.8,9.5,1.1,412,Connecticut - Middlesex,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,5250.0
516,225128702,Total,2012,17.9,NaN,16.4,19.4,0.8,413,Connecticut - New Haven,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,548.0,30553.0
522,225128708,Total,2012,15.1,NaN,12.6,17.7,1.3,414,Connecticut - New London,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.0,8931.0
528,225128714,Total,2012,4.4,NaN,3.1,6.2,0.8,415,Connecticut - Tolland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,7423.0
534,225128720,Total,2012,22.4,NaN,18.1,27.5,2.3,416,Connecticut - Windham,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.0,4188.0
720,159046499,Total,2011,16.4,NaN,15.7,17.1,0.4,9,Connecticut,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020.0,123249.0
732,159048869,Total,2011,14.3,NaN,13.0,15.6,0.7,409,Connecticut - Fairfield,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,454.0,31747.0
738,159048875,Total,2011,20.6,NaN,19.0,22.3,0.8,410,Connecticut - Hartford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,615.0,29795.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
762,159048899,Total,2011,17.4,NaN,14.7,20.2,1.4,414,Connecticut - New London,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,154.0,8840.0
768,159048905,Total,2011,5.1,NaN,3.6,7.0,0.8,415,Connecticut - Tolland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,7279.0
774,159048911,Total,2011,21.2,NaN,17.1,26.0,2.2,416,Connecticut - Windham,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.0,4294.0
960,158968619,Total,2010,18.7,NaN,17.9,19.4,0.4,9,Connecticut,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2274.0,121885.0
972,158970989,Total,2010,15.4,NaN,14.0,16.8,0.7,409,Connecticut - Fairfield,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,468.0,30376.0
978,158970995,Total,2010,24.7,NaN,22.9,26.5,0.9,410,Connecticut - Hartford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,735.0,29772.0
984,158971001,Total,2010,11.2,NaN,8.7,14.3,1.4,411,Connecticut - Litchfield,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,5781.0
990,158971007,Total,2010,10.8,NaN,8.2,14.1,1.5,412,Connecticut - Middlesex,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,5078.0
996,158971013,Total,2010,21.1,NaN,19.5,22.8,0.8,413,Connecticut - New Haven,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,648.0,30659.0
1002,158971019,Total,2010,18.6,NaN,15.8,21.4,1.4,414,Connecticut - New London,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,166.0,8918.0
1008,158971025,Total,2010,6.1,NaN,4.4,8.3,0.9,415,Connecticut - Tolland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,6865.0
1014,158971031,Total,2010,21.4,NaN,17.3,26.2,2.2,416,Connecticut - Windham,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.0,4436.0
1200,159202259,Total,2009,21.2,NaN,20.4,22.0,0.4,9,Connecticut,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2605.0,123044.0
1212,159204629,Total,2009,17.3,NaN,15.8,18.8,0.8,409,Connecticut - Fairfield,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,526.0,30448.0
1218,159204635,Total,2009,27.7,NaN,25.8,29.5,1.0,410,Connecticut - Hartford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,834.0,30158.0
1224,159204641,Total,2009,11.3,NaN,8.8,14.4,1.4,411,Connecticut - Litchfield,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.0,5918.0
1230,159204647,Total,2009,10.2,NaN,7.6,13.3,1.4,412,Connecticut - Middlesex,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0,5113.0
1236,159204653,Total,2009,24.7,NaN,23.0,26.5,0.9,413,Connecticut - New Haven,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,766.0,30969.0
1242,159204659,Total,2009,22.3,NaN,19.2,25.4,1.6,414,Connecticut - New London,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201.0,9014.0
1248,159204665,Total,2009,7.8,NaN,5.8,10.1,1.1,415,Connecticut - Tolland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.0,6943.0
1254,159204671,Total,2009,23.4,NaN,19.0,27.9,2.3,416,Connecticut - Windham,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.0,4481.0
1440,159182789,Total,2008,22.6,NaN,21.8,23.4,0.4,9,Connecticut,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2789.0,123448.0
1452,159185159,Total,2008,19.1,NaN,17.5,20.6,0.8,409,Connecticut - Fairfield,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,578.0,30318.0
1458,159185165,Total,2008,29.4,NaN,27.5,31.3,1.0,410,Connecticut - Hartford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,893.0,30390.0
1464,159185171,Total,2008,12.8,NaN,10.1,16.0,1.5,411,Connecticut - Litchfield,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0,6011.0
1470,159185177,Total,2008,11.7,NaN,8.9,15.0,1.5,412,Connecticut - Middlesex,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,5139.0
1476,159185183,Total,2008,26.2,NaN,24.4,28.0,0.9,413,Connecticut - New Haven,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,813.0,31046.0
1482,159185189,Total,2008,22.0,NaN,18.9,25.1,1.6,414,Connecticut - New London,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,199.0,9044.0
1488,159185195,Total,2008,6.6,NaN,4.8,8.8,1.0,415,Connecticut - Tolland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,6955.0
1494,159185201,Total,2008,27.1,NaN,22.3,31.8,2.4,416,Connecticut - Windham,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.0,4545.0

In [10]:
county_year = inventory[inventory["Locale"].str.contains("-") 
          & ~(inventory["Timeframe"].str.contains("-"))
          & (inventory["Dimension List"] == "Total")][["Timeframe","Numeric Value","Locale"]]
county_year["Numeric Value"] = pd.to_numeric(county_year["Numeric Value"])
county_year["Locale"] = county_year["Locale"].apply(lambda x: x.replace("Connecticut - ",""))
county_year

     Timeframe  Numeric Value      Locale
12        2014            9.3   Fairfield
18        2014           14.8    Hartford
24        2014            7.9  Litchfield
30        2014            6.6   Middlesex
36        2014           14.5   New Haven
42        2014           10.3  New London
48        2014            3.7     Tolland
54        2014           12.0     Windham
252       2013           11.1   Fairfield
258       2013           14.8    Hartford
264       2013            7.1  Litchfield
270       2013            6.8   Middlesex
276       2013           17.4   New Haven
282       2013           13.2  New London
288       2013            3.6     Tolland
294       2013           14.4     Windham
492       2012           11.8   Fairfield
498       2012           20.0    Hartford
504       2012            9.5  Litchfield
510       2012            6.9   Middlesex
516       2012           17.9   New Haven
522       2012           15.1  New London
528       2012            4.4     Tolland
534       2012           22.4     Windham
732       2011           14.3   Fairfield
738       2011           20.6    Hartford
744       2011           10.3  Litchfield
750       2011            9.4   Middlesex
756       2011           18.5   New Haven
762       2011           17.4  New London
768       2011            5.1     Tolland
774       2011           21.2     Windham
972       2010           15.4   Fairfield
978       2010           24.7    Hartford
984       2010           11.2  Litchfield
990       2010           10.8   Middlesex
996       2010           21.1   New Haven
1002      2010           18.6  New London
1008      2010            6.1     Tolland
1014      2010           21.4     Windham
1212      2009           17.3   Fairfield
1218      2009           27.7    Hartford
1224      2009           11.3  Litchfield
1230      2009           10.2   Middlesex
1236      2009           24.7   New Haven
1242      2009           22.3  New London
1248      2009            7.8     Tolland
1254      2009           23.4     Windham
1452      2008           19.1   Fairfield
1458      2008           29.4    Hartford
1464      2008           12.8  Litchfield
1470      2008           11.7   Middlesex
1476      2008           26.2   New Haven
1482      2008           22.0  New London
1488      2008            6.6     Tolland
1494      2008           27.1     Windham

In [11]:
pd.pivot_table(county_year,index="Locale",
               columns="Timeframe",
               values="Numeric Value").transpose()

Locale,Fairfield,Hartford,Litchfield,Middlesex,New Haven,New London,Tolland,Windham
Timeframe,,,,,,,,
2008,19.1,29.4,12.8,11.7,26.2,22.0,6.6,27.1
2009,17.3,27.7,11.3,10.2,24.7,22.3,7.8,23.4
2010,15.4,24.7,11.2,10.8,21.1,18.6,6.1,21.4
2011,14.3,20.6,10.3,9.4,18.5,17.4,5.1,21.2
2012,11.8,20.0,9.5,6.9,17.9,15.1,4.4,22.4
2013,11.1,14.8,7.1,6.8,17.4,13.2,3.6,14.4
2014,9.3,14.8,7.9,6.6,14.5,10.3,3.7,12.0

In [12]:
def get_statewie_data(by_demographics=False):
    if by_demographics:
        return inventory[~(inventory["Locale"].str.contains("-"))
                         & ~(inventory["Timeframe"].str.contains("-"))
                         & ~(inventory["Dimension List"] == "Total")][["Timeframe",
                                                                       "Dimension List",
                                                                       "Numeric Value","Locale"]]    
    else:
        return inventory[inventory["Locale"].str.contains("-")
                         & ~(inventory["Timeframe"].str.contains("-"))
                         & (inventory["Dimension List"] == "Total")][["Timeframe","Numeric Value","Locale"]]


def get_data(by_demographics=False):
    if by_demographics:
        return inventory[inventory["Locale"].str.contains("-")
                         & ~(inventory["Timeframe"].str.contains("-"))
                         & ~(inventory["Dimension List"] == "Total")][["Timeframe",
                                                                       "Dimension List",
                                                                       "Numeric Value","Locale"]]    
    else:
        return inventory[inventory["Locale"].str.contains("-")
                         & ~(inventory["Timeframe"].str.contains("-"))
                         & (inventory["Dimension List"] == "Total")][["Timeframe","Numeric Value","Locale"]]
    
get_statewie_data(by_demographics=True)

,Timeframe,Dimension List,Numeric Value,Locale
1,2014,Aged 15-17 years (Of mother),5.5,Connecticut
2,2014,Aged 18-19 years (Of mother),19.7,Connecticut
3,2014,Aged 15-17 years; Hispanic or Latino (Of mother),17.1,Connecticut
4,2014,Aged 18-19 years; Hispanic or Latino (Of mother),52.5,Connecticut
5,2014,Aged 15-17 years; Non-Hispanic White (Of mother),DSU,Connecticut
6,2014,Aged 18-19 years; Non-Hispanic White (Of mother),DSU,Connecticut
7,2014,Aged 15-17 years; Non-Hispanic Black (Of mother),DSU,Connecticut
8,2014,Aged 18-19 years; Non-Hispanic Black (Of mother),DSU,Connecticut
9,2014,Hispanic or Latino (Of mother),31.4,Connecticut
10,2014,Non-Hispanic White (Of mother),DSU,Connecticut
11,2014,Non-Hispanic Black (Of mother),DSU,Connecticut
241,2013,Aged 15-17 years (Of mother),6.2,Connecticut
242,2013,Aged 18-19 years (Of mother),22.0,Connecticut
243,2013,Aged 15-17 years; Hispanic or Latino (Of mother),19.9,Connecticut
244,2013,Aged 18-19 years; Hispanic or Latino (Of mother),62.1,Connecticut
245,2013,"Aged 15-17 years; White, non-Hispanic (Of mother)",2.0,Connecticut
246,2013,"Aged 18-19 years; White, non-Hispanic (Of mother)",9.6,Connecticut
247,2013,"Aged 15-17 years; Black or African American, n...",9.7,Connecticut
248,2013,"Aged 18-19 years; Black or African American, n...",37.5,Connecticut
249,2013,Hispanic or Latino (Of mother),37.3,Connecticut
250,2013,"White, non-Hispanic (Of mother)",5.3,Connecticut
251,2013,"Black or African American, non-Hispanic (Of mo...",21.5,Connecticut
481,2012,Aged 15-17 years (Of mother),7.3,Connecticut
482,2012,Aged 18-19 years (Of mother),25.7,Connecticut
483,2012,Aged 15-17 years; Hispanic or Latino (Of mother),23.3,Connecticut
484,2012,Aged 18-19 years; Hispanic or Latino (Of mother),70.0,Connecticut
485,2012,"Aged 15-17 years; White, non-Hispanic (Of mother)",2.5,Connecticut
486,2012,"Aged 18-19 years; White, non-Hispanic (Of mother)",12.4,Connecticut
487,2012,"Aged 15-17 years; Black or African American, n...",12.1,Connecticut
488,2012,"Aged 18-19 years; Black or African American, n...",41.8,Connecticut
...,...,...,...,...
964,2010,Aged 18-19 years; Hispanic or Latino (Of mother),89.8,Connecticut
965,2010,"Aged 15-17 years; White, non-Hispanic (Of mother)",3.0,Connecticut
966,2010,"Aged 18-19 years; White, non-Hispanic (Of mother)",15.8,Connecticut
967,2010,"Aged 15-17 years; Black or African American, n...",15.5,Connecticut
968,2010,"Aged 18-19 years; Black or African American, n...",55.2,Connecticut
969,2010,Hispanic or Latino (Of mother),51.9,Connecticut
970,2010,"White, non-Hispanic (Of mother)",7.9,Connecticut
971,2010,"Black or African American, non-Hispanic (Of mo...",32.0,Connecticut
1201,2009,Aged 15-17 years (Of mother),10.3,Connecticut
1202,2009,Aged 18-19 years (Of mother),37.9,Connecticut
1203,2009,Aged 15-17 years; Hispanic or Latino (Of mother),33.8,Connecticut
1204,2009,Aged 18-19 years; Hispanic or Latino (Of mother),98.8,Connecticut
1205,2009,"Aged 15-17 years; White, non-Hispanic (Of mother)",3.2,Connecticut
1206,2009,"Aged 18-19 years; White, non-Hispanic (Of mother)",18.0,Connecticut
1207,2009,"Aged 15-17 years; Black or African American, n...",18.8,Connecticut
1208,2009,"Aged 18-19 years; Black or African American, n...",62.7,Connecticut
1209,2009,Hispanic or Latino (Of mother),60.1,Connecticut
1210,2009,"White, non-Hispanic (Of mother)",8.9,Connecticut
1211,2009,"Black or African American, non-Hispanic (Of mo...",37.0,Connecticut
1441,2008,Aged 15-17 years (Of mother),11.3,Connecticut
1442,2008,Aged 18-19 years (Of mother),40.1,Connecticut
1443,2008,Aged 15-17 years; Hispanic or Latino (Of mother),38.5,Connecticut
1444,2008,Aged 18-19 years; Hispanic or Latino (Of mother),109.3,Connecticut
1445,2008,"Aged 15-17 years; White, non-Hispanic (Of mother)",3.6,Connecticut
1446,2008,"Aged 18-19 years; White, non-Hispanic (Of mother)",18.1,Connecticut
1447,2008,"Aged 15-17 years; Black or African American, n...",19.4,Connecticut
1448,2008,"Aged 18-19 years; Black or African American, n...",71.7,Connecticut
1449,2008,Hispanic or Latino (Of mother),66.4,Connecticut
1450,2008,"White, non-Hispanic (Of mother)",9.2,Connecticut
1451,2008,"Black or African American, non-Hispanic (Of mo...",40.9,Connecticut

In [13]:
demographics_county = get_statewie_data(by_demographics=True)
demographics_county["Numeric Value"] = pd.to_numeric(demographics_county["Numeric Value"],errors="coerce")


race = demographics_county[~demographics_county["Dimension List"].str.contains("Aged")]
race = pd.pivot_table(race,index="Dimension List",
               columns="Timeframe",
               values="Numeric Value").transpose()
race

Dimension List,"Black or African American, non-Hispanic (Of mother)",Hispanic or Latino (Of mother),Non-Hispanic Black (Of mother),Non-Hispanic White (Of mother),"White, non-Hispanic (Of mother)"
Timeframe,,,,,
2008,40.9,66.4,NaN,NaN,9.2
2009,37.0,60.1,NaN,NaN,8.9
2010,32.0,51.9,NaN,NaN,7.9
2011,29.8,47.0,NaN,NaN,6.4
2012,24.8,42.6,NaN,NaN,6.7
2013,21.5,37.3,NaN,NaN,5.3
2014,NaN,31.4,NaN,NaN,NaN

In [14]:
age = demographics_county[demographics_county["Dimension List"].str.contains("Aged")]
age = pd.pivot_table(age,
                     index="Dimension List",
                     columns="Timeframe",
                     values="Numeric Value").transpose()
age

Dimension List,Aged 15-17 years (Of mother),"Aged 15-17 years; Black or African American, non-Hispanic (Of mother)",Aged 15-17 years; Hispanic or Latino (Of mother),Aged 15-17 years; Non-Hispanic Black (Of mother),Aged 15-17 years; Non-Hispanic White (Of mother),"Aged 15-17 years; White, non-Hispanic (Of mother)",Aged 18-19 years (Of mother),"Aged 18-19 years; Black or African American, non-Hispanic (Of mother)",Aged 18-19 years; Hispanic or Latino (Of mother),Aged 18-19 years; Non-Hispanic Black (Of mother),Aged 18-19 years; Non-Hispanic White (Of mother),"Aged 18-19 years; White, non-Hispanic (Of mother)"
Timeframe,,,,,,,,,,,,
2008,11.3,19.4,38.5,NaN,NaN,3.6,40.1,71.7,109.3,NaN,NaN,18.1
2009,10.3,18.8,33.8,NaN,NaN,3.2,37.9,62.7,98.8,NaN,NaN,18.0
2010,8.4,15.5,25.6,NaN,NaN,3.0,34.5,55.2,89.8,NaN,NaN,15.8
2011,7.3,14.6,22.4,NaN,NaN,2.4,29.4,50.6,82.0,NaN,NaN,12.2
2012,7.3,12.1,23.3,NaN,NaN,2.5,25.7,41.8,70.0,NaN,NaN,12.4
2013,6.2,9.7,19.9,NaN,NaN,2.0,22.0,37.5,62.1,NaN,NaN,9.6
2014,5.5,NaN,17.1,NaN,NaN,NaN,19.7,NaN,52.5,NaN,NaN,NaN

# It looks like a lot of 2014 data are missing

2014 race data only exists for 
Aged 15-17 (without race/eth)
Aged 18-19 (without race/eth)

Aged 15-17 hispanic
Aged 18-19 hispanic

Hispanic (without age)

In [29]:
def county_data(county):
    return inventory[inventory["Locale"].str.contains(county) 
                     & ~inventory["Dimension List"].str.contains("Aged")
                     & ~inventory["Timeframe"].str.contains("-")
                     & (inventory["Timeframe"] == "2014")]

county_data("Fairfield")

,Indicator ID,Dimension List,Timeframe,Numeric Value,Missing Value Flag,Confidence Interval Low,Confidence Interval High,Standard Error,LocaleID,Locale,...,Characteristic Of School Or Student,Other,Geography,Modifier1,Modifier2,Modifier3,Modifier4,Modifier5,Numerator,Denominator
12,416487306,Total,2014,9.3,NaN,8.3,10.4,0.5,409,Connecticut - Fairfield,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,307.0,32927.0
15,416487309,Hispanic or Latino (Of mother),2014,27.7,NaN,23.7,31.6,2.0,409,Connecticut - Fairfield,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,186.0,6725.0
16,416487310,Non-Hispanic White (Of mother),2014,DSU,DSU,NaN,NaN,NaN,409,Connecticut - Fairfield,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,20589.0
17,416487311,Non-Hispanic Black (Of mother),2014,DSU,DSU,NaN,NaN,NaN,409,Connecticut - Fairfield,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,4098.0

In [32]:
inventory["Locale"].value_counts()

Connecticut                 336
Connecticut - Middlesex     168
Connecticut - New Haven     168
Connecticut - Fairfield     168
Connecticut - Tolland       168
Connecticut - New London    168
Connecticut - Litchfield    168
Connecticut - Hartford      168
Connecticut - Windham       168
Name: Locale, dtype: int64

In [41]:
county_data("Windham")

,Indicator ID,Dimension List,Timeframe,Numeric Value,Missing Value Flag,Confidence Interval Low,Confidence Interval High,Standard Error,LocaleID,Locale,...,Characteristic Of School Or Student,Other,Geography,Modifier1,Modifier2,Modifier3,Modifier4,Modifier5,Numerator,Denominator
54,416487348,Total,2014,12.0,NaN,8.9,15.9,1.7,416,Connecticut - Windham,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,3995.0
57,416487351,Hispanic or Latino (Of mother),2014,DSU,DSU,NaN,NaN,NaN,416,Connecticut - Windham,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,13.0,581.0
58,416487352,Non-Hispanic White (Of mother),2014,DSU,DSU,NaN,NaN,NaN,416,Connecticut - Windham,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,3144.0
59,416487353,Non-Hispanic Black (Of mother),2014,DSU,DSU,NaN,NaN,NaN,416,Connecticut - Windham,...,NaN,NaN,NaN,(Of mother),NaN,NaN,NaN,NaN,NaN,140.0